<ion-header>
    <ion-navbar>
      <ion-title>User List</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-item-sliding *ngFor="let user of users | async">
        <button ion-item (click)="userTapped($event, user)">
          <ion-avatar item-start>
            <img *ngIf="user.imageUrl" [src]="user.imageUrl" />
          </ion-avatar>
          <h2>{{user.displayName}}</h2>
        </button>
        <ion-item-options>
          <button ion-button clear small color="secondary" icon-left (click)="userEdit(user)">
            <ion-icon name='create'></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-content>