<ion-header>
  <ion-navbar>
    <ion-title>Monthly Pay</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row no-padding>
    <ion-col>
      <button ion-button block color="danger" (click)="dismiss()">
        Cancel
      </button>
    </ion-col>
  </ion-row>

  <ion-item>
    <ion-icon name="calendar" item-start></ion-icon>
    <ion-label>Year</ion-label>
    <ion-datetime displayFormat="YYYY" max="2050" [(ngModel)]="yearPay"></ion-datetime>
  </ion-item>

  <!-- <ion-scroll scrollY="true"> -->
  <ion-segment [(ngModel)]="showType" color="primary">
    <ion-segment-button value="you">
      YOU
    </ion-segment-button>
    <ion-segment-button value="all">
      ALL
    </ion-segment-button>
  </ion-segment>
   
  <div [ngSwitch]="showType">
    <ion-grid *ngSwitchCase="'you'">
      <ion-row>
        <ion-col>
          <ion-avatar>
            <img [src]="'assets/img/speakers/bear.jpg'" />
          </ion-avatar>  
          <ion-row><button ion-button full>Jan</button></ion-row>
          <ion-row><button ion-button full>Feb</button></ion-row>
          <ion-row><button ion-button full>Mar</button></ion-row>
          <ion-row><button ion-button full>Apr</button></ion-row>
          <ion-row><button ion-button full>May</button></ion-row>
          <ion-row><button ion-button full>Jun</button></ion-row>
          <ion-row><button ion-button full>Jul</button></ion-row>
          <ion-row><button ion-button full>Aug</button></ion-row>
          <ion-row><button ion-button full>Sep</button></ion-row>
          <ion-row><button ion-button full>Oct</button></ion-row>
          <ion-row><button ion-button full>Nov</button></ion-row>
          <ion-row><button ion-button full>Dec</button></ion-row>
        </ion-col>      
        <ion-col>
          <ion-avatar>
            <img [src]="'assets/img/speakers/lion.jpg'" />
          </ion-avatar>
          <ion-row *ngFor="let item of months">
            <button ion-button [color]="item.date ? 'danger' : 'light'" full (click)="clickStar(item)">
              <ion-icon name="star"> {{item.date}}</ion-icon>
            </button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
   
   
      <!-- More Pinterest floating gallery style -->
    <ion-grid *ngSwitchCase="'all'">
      <ion-row>
        <ion-col>
          <ion-avatar>
            <img [src]="'assets/img/speakers/bear.jpg'" />
          </ion-avatar>  
          <button ion-button full>Jan</button>
          <button ion-button full>Feb</button>
          <button ion-button full>Mar</button>
          <button ion-button full>Apr</button>
          <button ion-button full>May</button>
          <button ion-button full>Jun</button>
          <button ion-button full>Jul</button>
          <button ion-button full>Aug</button>
          <button ion-button full>Sep</button>
          <button ion-button full>Oct</button>
          <button ion-button full>Nov</button>
          <button ion-button full>Dec</button>
        </ion-col>      
        <ion-col>
          <ion-avatar>
            <img [src]="'assets/img/speakers/lion.jpg'" />
          </ion-avatar>
          <button ion-button color="light" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="light" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="light" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="light" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="light" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="light" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="light" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="light" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="light" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="light" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="light" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="light" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          <ion-avatar>
            <img [src]="'assets/img/speakers/kitten.jpg'" />
          </ion-avatar>
          <button ion-button color="danger" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="danger" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="danger" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="danger" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="danger" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="danger" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="danger" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="danger" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="danger" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="danger" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="danger" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="danger" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
        </ion-col>
  
        <ion-col>
          <ion-avatar>
            <img [src]="'assets/img/speakers/duck.jpg'" />
          </ion-avatar>
          <button ion-button color="secondary" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="secondary" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="secondary" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="secondary" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="secondary" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="secondary" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="secondary" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="secondary" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="secondary" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="secondary" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="secondary" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="secondary" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
        </ion-col>
  
        <ion-col>
          <ion-avatar>
            <img [src]="'assets/img/speakers/puppy.jpg'" />
          </ion-avatar>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
        </ion-col>


        <ion-col>
          <ion-avatar>
            <img [src]="'assets/img/speakers/puppy.jpg'" />
          </ion-avatar>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          <ion-avatar>
            <img [src]="'assets/img/speakers/puppy.jpg'" />
          </ion-avatar>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
        </ion-col>

        <ion-col>
          <ion-avatar>
            <img [src]="'assets/img/speakers/puppy.jpg'" />
          </ion-avatar>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          <ion-avatar>
            <img [src]="'assets/img/speakers/puppy.jpg'" />
          </ion-avatar>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button color="dark" full (click)="clickStar()">
            <ion-icon name="star"></ion-icon>
          </button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>




  <!-- <ion-list>
      <ion-item-sliding *ngFor="let item of months">
        <button ion-item (click)="addItem(item)">         
          <ion-thumbnail item-start>
            <img [src]="item.imageUrl">
          </ion-thumbnail>
          <h2>{{item.name}}</h2>
          <ion-note item-end *ngIf="item.datePay">{{item.datePay}}</ion-note>
        </button>
        <ion-item-options *ngIf="item.datePay">
          <button ion-button color="danger" (click)="deleteItem(item)">
            {{ 'DELETE_BUTTON' | translate }}
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list> -->

</ion-content>