<ion-header>
  <ion-navbar>
    <ion-title>Song List</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="createSong()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let song of songs | async">
      <button ion-item (click)="songTapped($event, song)">
        <ion-avatar item-start>
          <img *ngIf="song.imageUrl" [src]="song.imageUrl" />
        </ion-avatar>
        <h2>{{song.name}}</h2>
        <!-- <p item-end>{{song.description}}</p> -->
      </button>
      <ion-item-options>
        <button ion-button clear small color="danger" icon-left (click)="deleteSong(song)">
          <ion-icon name='trash'></ion-icon>
        </button>
        <button ion-button clear small color="secondary" icon-left (click)="editSong(song)">
          <ion-icon name='create'></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>